<div class="container">
    <div class="row">
        <h1>Registro masivo de empleados</h1>
    </div>
</div>

<div class="container">
    <form novalidate #formu="ngForm">
        <div class="row offset-2">
            <div class="col-md-2">
                <div class="form-group">
                    <a class="btn btn-outline-dark"
                    routerLink="/"> <b>Volver</b></a>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <div>
                    <button class="btn btn-outline-success"
                        type="button" [hidden]="visibilityAdd"
                        (click)="helper.AddDataSalary(helper.dataFormSalary)" 
                        [disabled]="formu.invalid"> <b>Aplicar</b></button>
                        
                    <button class="btn btn-outline-success"
                        type="button" [hidden]="visibilityEdit"
                        (click)="helper.AddDataEditSalary(helper.dataFormSalary)" 
                        [disabled]="formu.invalid"> <b>Aplicar editados</b></button>
                </div>
            </div>
        </div>
        <br/>

        <div class="row offset-2">
            <div class="col-2">
                <div class="form-group">
                    <label>Name: </label>
                    <input type="text" class="form-control"
                            [class.invalid]="Name.invalid && Name.touched"
                            name="Name" #Name="ngModel" [(ngModel)]="helper.dataFormSalary.name"
                            required maxlength="15" />
                        
                        <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="alert">
                            <div *ngIf="Name.errors?.['required']">
                                Name is required.
                            </div>
                            <div *ngIf="Name.errors?.['minlength']">
                                Name must be at least 4 characters long.
                            </div>
                            <div *ngIf="Name.errors?.['maxlength']">
                                Name must be at least 15 characters long.
                            </div>
    
                        </div>

                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Surname: </label>
                    <input type="text" class="form-control" 
                            [class.invalid]="Surname.invalid && Surname.touched"
                            name="Surname" #Surname="ngModel" [(ngModel)]="helper.dataFormSalary.surname"
                            required />
                    
                            <div *ngIf="Surname.invalid && (Surname.dirty || Surname.touched)" class="alert">
                                <div *ngIf="Surname.errors?.['required']">
                                    Surname is required.
                                </div>
                                <div *ngIf="Surname.errors?.['minlength']">
                                    Surname must be at least 4 characters long.
                                </div>
                                <div *ngIf="Surname.errors?.['maxlength']">
                                    Surname must be at least 15 characters long.
                                </div>
        
                            </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Birthday: </label>
                    <input type="date" class="form-control"
                        [class.invalid]="BirthDay.invalid && BirthDay.touched" 
                        name="BirthDay" required #BirthDay="ngModel" [(ngModel)]="helper.dataFormSalary.birthDay" />

                        <div *ngIf="BirthDay.invalid && (BirthDay.dirty || BirthDay.touched)" class="alert">
                            <div *ngIf="BirthDay.errors?.['required']">
                                BirthDay is required.
                            </div>    
                        </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Employee Code: </label>
                    <input type="text" class="form-control"
                        [class.invalid]="EmployeeCode.invalid && EmployeeCode.touched"
                        name="EmployeeCode" required #EmployeeCode="ngModel" [(ngModel)]="helper.dataFormSalary.employeeCode" />

                        <div *ngIf="EmployeeCode.invalid && (EmployeeCode.dirty || EmployeeCode.touched)" class="alert">
                            <div *ngIf="EmployeeCode.errors?.['required']">
                                Employee Code is required.
                            </div>
                            <div *ngIf="EmployeeCode.errors?.['minlength']">
                                Employee Code must be at least 4 characters long.
                            </div>
                            <div *ngIf="EmployeeCode.errors?.['maxlength']">
                                Employee Code must be at least 15 characters long.
                            </div>
    
                        </div>

                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Identification Number: </label>
                    <input type="text" class="form-control"
                        [class.invalid]="IdentificationNumber.invalid && IdentificationNumber.touched"
                        name="IdentificationNumber" required #IdentificationNumber="ngModel" [(ngModel)]="helper.dataFormSalary.identificationNumber" />

                        <div *ngIf="IdentificationNumber.invalid && (IdentificationNumber.dirty || IdentificationNumber.touched)" class="alert">
                            <div *ngIf="IdentificationNumber.errors?.['required']">
                                Identification Number is required.
                            </div>
                            <div *ngIf="IdentificationNumber.errors?.['minlength']">
                                Identification Number must be at least 4 characters long.
                            </div>
                            <div *ngIf="IdentificationNumber.errors?.['maxlength']">
                                Identification Number must be at least 15 characters long.
                            </div>
    
                        </div>
                </div>
            </div>
        </div>

        <div class="row offset-2">
            <div class="col-2">
                <div class="form-group">
                    <label>Office: </label>
                    <select class="form-control"
                            [class.invalid]="OfficeId.invalid && OfficeId.touched" required
                            name="OfficeId" #OfficeId="ngModel" [(ngModel)]="helper.dataFormSalary.officeId" >
                        <option [ngValue]="null" disabled>Select Office</option>
                        <option *ngFor="let office of offices" [ngValue]="office.id">{{office.nombre}}</option>
                    </select>

                    <div *ngIf="OfficeId.invalid && (OfficeId.dirty || OfficeId.touched)" class="alert">
                        <div *ngIf="OfficeId.errors?.['required']">
                            Office is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Division: </label>
                    <select class="form-control"
                            [class.invalid]="DivisionId.invalid && DivisionId.touched" required
                            name="DivisionId" #DivisionId="ngModel" [(ngModel)]="helper.dataFormSalary.divisionId" >
                        <option [ngValue]="null" disabled>Select Division</option>
                        <option *ngFor="let division of divisions" [ngValue]="division.id">{{division.nombre}}</option>
                    </select>

                    <div *ngIf="DivisionId.invalid && (DivisionId.dirty || DivisionId.touched)" class="alert">
                        <div *ngIf="DivisionId.errors?.['required']">
                            Division is required.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-2">
                <div class="form-group">    
                    <label>Position: </label>
                    <select class="form-control"
                            [class.invalid]="PositionId.invalid && PositionId.touched" 
                            name="PositionId" #PositionId="ngModel" [(ngModel)]="helper.dataFormSalary.positionId" >
                        <option [ngValue]="null" disabled>Select Position</option>
                        <option *ngFor="let position of positions" [ngValue]="position.id">{{position.nombre}}</option>
                    </select>

                    <div *ngIf="PositionId.invalid && (PositionId.dirty || PositionId.touched)" class="alert">
                        <div *ngIf="PositionId.errors?.['required']">
                            Position is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Grade: </label>
                    <input type="text" class="form-control"
                        [class.invalid]="Grade.invalid && Grade.touched" required
                        name="Grade" #Grade="ngModel" [(ngModel)]="helper.dataFormSalary.grade" />

                        <div *ngIf="Grade.invalid && (Grade.dirty || Grade.touched)" class="alert">
                            <div *ngIf="Grade.errors?.['required']">
                                Grade is required.
                            </div>
    
                        </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Base Salary: </label>
                    <input type="text" class="form-control"
                        [class.invalid]="BaseSalary.invalid && BaseSalary.touched" required
                        name="BaseSalary" #BaseSalary="ngModel" [(ngModel)]="helper.dataFormSalary.baseSalary" />

                        <div *ngIf="BaseSalary.invalid && (BaseSalary.dirty || BaseSalary.touched)" class="alert">
                            <div *ngIf="BaseSalary.errors?.['required']">
                                Base Salary is required.
                            </div>
    
                        </div>
                </div>
            </div>
        </div>

        <div class="row offset-2">
        </div>

        <div class="row offset-2">
            <div class="col-2">
                <div class="form-group">
                    <div class="form-group">
                        <label>Year: </label>
                        <input type="text" class="form-control"
                            [class.invalid]="Year.invalid && Year.touched" required
                            name="Year" #Year="ngModel" [(ngModel)]="helper.dataFormSalary.year" />

                            <div *ngIf="Year.invalid && (Year.dirty || Year.touched)" class="alert">
                                <div *ngIf="Year.errors?.['required']">
                                    Year is required.
                                </div>
        
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <div class="form-group">
                        <label>Month: </label>
                        <input type="text" class="form-control"
                            [class.invalid]="Month.invalid && Month.touched" required
                            name="Month" #Month="ngModel" [(ngModel)]="helper.dataFormSalary.month" />

                            <div *ngIf="Month.invalid && (Month.dirty || Month.touched)" class="alert">
                                <div *ngIf="Month.errors?.['required']">
                                    Month is required.
                                </div>
        
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Begin date: </label>
                    <input type="date" class="form-control"
                        [class.invalid]="BeginDate.invalid && BeginDate.touched" required
                        name="BeginDate" #BeginDate="ngModel" [(ngModel)]="helper.dataFormSalary.beginDate" />

                        <div *ngIf="BeginDate.invalid && (BeginDate.dirty || BeginDate.touched)" class="alert">
                            <div *ngIf="BeginDate.errors?.['required']">
                                Begin Date is required.
                            </div>    
                        </div>
                </div>
            </div>
            
        </div>
        <div class="row offset-2">
            <div class="col-2">
                <div class="form-group">
                    <div class="form-group">
                        <label>Production Bonus: </label>
                        <input type="text" class="form-control"
                            [class.invalid]="ProductionBonus.invalid && ProductionBonus.touched" required
                            name="ProductionBonus" #ProductionBonus="ngModel" [(ngModel)]="helper.dataFormSalary.productionBonus" />

                            <div *ngIf="ProductionBonus.invalid && (ProductionBonus.dirty || ProductionBonus.touched)" class="alert">
                                <div *ngIf="ProductionBonus.errors?.['required']">
                                    Production Bonus is required.
                                </div>    
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <div class="form-group">
                        <label>Compensation Bonus: </label>
                        <input type="text" class="form-control"
                            [class.invalid]="CompensationBonus.invalid && CompensationBonus.touched" required
                            name="CompensationBonus" #CompensationBonus="ngModel" [(ngModel)]="helper.dataFormSalary.compensationBonus" />

                            <div *ngIf="CompensationBonus.invalid && (CompensationBonus.dirty || CompensationBonus.touched)" class="alert">
                                <div *ngIf="CompensationBonus.errors?.['required']">
                                    Compensation Bonus is required.
                                </div>    
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Commision: </label>
                    <input type="text" class="form-control"
                        [class.invalid]="Comission.invalid && Comission.touched" required
                        name="Comission" #Comission="ngModel" [(ngModel)]="helper.dataFormSalary.comission" />

                        <div *ngIf="Comission.invalid && (Comission.dirty || Comission.touched)" class="alert">
                            <div *ngIf="Comission.errors?.['required']">
                                Comission is required.
                            </div>    
                        </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Contributions: </label>
                    <input type="text" class="form-control"
                        [class.invalid]="Contributions.invalid && Contributions.touched" required
                        name="Contributions" #Contributions="ngModel" [(ngModel)]="helper.dataFormSalary.contributions" />

                        <div *ngIf="Contributions.invalid && (Contributions.dirty || Contributions.touched)" class="alert">
                            <div *ngIf="Contributions.errors?.['required']">
                                Contributions is required.
                            </div>    
                        </div>
                </div>
            </div>
        </div>
                
    </form>
</div>

<div class="container">
    <div class="row">

        <div class="col-2 offset-4">
            <button *ngIf="helper.listDataSalary.length>0" 
                [hidden]="visibilityAdd"
                class="btn btn-outline-primary"
                (click)="SaveData()" [disabled]="formu.invalid">
                    <b>Guardar</b>
            </button>
    
            <button *ngIf="helper.listDataSalary.length>0" 
                [hidden]="visibilityEdit"
                class="btn btn-outline-primary"
                (click)="SaveEdit()" [disabled]="formu.invalid">
                    <b>Guardar modificación</b>
            </button>
        </div>

        
             
        <table *ngIf="helper.listDataSalary.length>0" class="table table-striped">
            <thead>
                <tr>
                    <th> FullName </th>
                    <th> Identific </th>
                    <th> Office </th>
                    <th> Division </th>
                    <th> Grade </th>
                    <th> Birthday </th>
                    <th> Year </th>
                    <th> Month </th>
                    <th> Begin date </th>
                    <th> Base salary </th>
                    <th> Prod bonus </th>
                    <th> Compe bonus </th>
                    <th> Commision </th>
                    <th> Contrib </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let data of helper.listDataSalary; let _index = index">
                    <td> {{data.name}} {{data.surname}} </td>
                    <td> {{data.identificationNumber}} </td>
                    <td> {{showOfficeById(data.officeId)}} </td>
                    <td> {{showDivisionById(data.divisionId)}} </td>
                    <td> {{data.grade}} </td>
                    <td> {{data.birthDay | date}} </td>
                    <td> {{data.year}} </td>
                    <td> {{data.month}} </td>
                    <td> {{data.beginDate | date}} </td>
                    <td> {{data.baseSalary}} </td>
                    <td> {{data.productionBonus}} </td>
                    <td> {{data.compensationBonus}} </td>
                    <td> {{data.comission}} </td>
                    <td> {{data.contributions}} </td>
                    <td>
                        <button class="btn btn-outline-secondary" *ngIf="data.id != 0" (click)="editData(data.id)">Edit</button>
                        <button class="btn btn-outline-info" *ngIf="data.id == 0" (click)="deleteData(_index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
