.container {
    padding: 10px;
}

input.invalid, select.invalid {
    border-color: red;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    font-size: 10px;
}

.visibility {
    visibility: visible;
}

.invisibility {
    visibility: hidden;
}