<div class="container">
    <div class="row">
        <h1>Salary - José Pozo</h1>
        <div>
            <a class="btn btn-primary" routerLink="/employee"> <b>Nuevo</b></a> | 
            <a class="btn btn-secondary" (click)="editData(rowSelected)"> <b>Editar</b></a>
        </div>
    </div>
    <div class="row"> Filtro de empleado por: 
        <div class="col-1">
            <Button class="btn btn-default" (click)="filter0()">Quitar Filtro</Button>
        </div>
        <div class="col-2">
            <Button class="btn btn-outline-info" (click)="filter1(rowSelected)">Misma oficina y grado</Button>
        </div>
        <div class="col-2">
            <Button class="btn btn-outline-info" (click)="filter2(rowSelected)">Oficinas y mismo grado</Button>
        </div>
        <div class="col-2">
            <Button class="btn btn-outline-info" (click)="filter3(rowSelected)">Misma posicion y grado</Button>
        </div>
        <div class="col-3">
            <Button class="btn btn-outline-info" (click)="filter4(rowSelected)">Posiciones y mismo grado</Button>
        </div>
    </div>
</div>

<div *ngIf="showSalary.length>0" class="container">
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th> Codigo empleado </th>
                    <th> Nombre completo </th>
                    <th> División </th>
                    <th> Posición </th>
                    <th> Grado </th>
                    <th> Fecha inicio </th>
                    <th> Cumpleaños </th>
                    <th> Indentificación </th>
                    <th> Salario total </th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of showSalary" (click)="rowSelection(item)"  [class.rowSelected]="rowSelected.id==item.id" >
                    <td>{{item.employeeCode}}</td>
                    <td>{{item.name}} {{item.surname}}</td>
                    <td>{{item.division.nombre}}</td>
                    <td>{{item.position.nombre}}</td>
                    <td>{{item.grade}}</td>
                    <td>{{item.beginDate | date}}</td>
                    <td>{{item.birthDay | date}}</td>
                    <td>{{item.identificationNumber}}</td>
                    <td>{{item.totalSalary}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>